.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	box-shadow: 0 6px 4px -5px rgba(0, 0, 0, 0.7);
}

.header__fx {
	position: relative;
	width: 100%;
	height: 122px;
	z-index: -1;
}

@media (max-width: 576px) {
	.header__fx {
		height: 62px;
	}
}
